<div class="adapter">
  <md-card>
    <md-card-title>Adapter</md-card-title>
    <md-card-content>
      <!-- Info + QR code -->
      <div class="top-info">
        <div class="info">
          <p>IP: {{adapter.ip}}</p>
          <p>SID: {{adapter.sid}}</p>
          <form (ngSubmit)="onSend()">
            <md-input [(ngModel)]="packageName" required dividerColor="primary" placeholder="Package"></md-input>
            <button md-raised-button>Send</button>
          </form>

        </div>
        <div class="qr-div">
          <img md-card-image [src]="adapter.qrcode" class="qr-code">
        </div>
      </div>

      <!-- Results list -->
      <md-card-title>Results</md-card-title>
      <md-list>
        <div>
          <md-list-item class="list-header">
            <span class="item">TIME</span>
            <span class="item">PACKAGE</span>
            <span class="item">RESULT</span>
          </md-list-item>
          <md-divider></md-divider>
        </div>
        <div *ngFor="let item of data">
          <md-list-item>
            <span class="item">{{item.time | date}}</span>
            <span class="item">{{item.packageName}}</span>
            <span class="item">{{item.result}}</span>
          </md-list-item>
          <md-divider></md-divider>
        </div>
      </md-list>
    </md-card-content>
  </md-card>
</div>